*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #d7d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border: 2px solid #fff;
    border-radius: 15px;
}
.item{
    height: max-content;
    width: max-content;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    position: relative;
}

p{
    width: 300px;
    color: rgb(124, 119, 119);
    background: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    height: 100vh;
    width: 100%;
    grid-gap: 8px;
    padding: 8px;
}
.overly{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.50);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.item:hover .overly{
    height: 100%;
    border-radius: 15px;
}
h1{
    width: 100%;
    margin-top: 10%;
    color: white;
    font-size: 5vh;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
}
h3{
    width: 100%;
    margin-top: 25%;
    color: white;
    font-size: 3vh;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
}
