* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.main>.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: auto;
    position: relative;
    z-index: 100;
}

.main>.nav li {
    width: 60px;
}

.main>.nav li:not(:last-child) {
    margin-right: 20px;
}

.main>.nav li:first-child>a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1877f2), color-stop(#1877f2), to(#000));
    background-image: -webkit-linear-gradient(#1877f2, #1877f2, #000);
    background-image: -moz-linear-gradient(#1877f2, #1877f2, #000);
    background-image: -o-linear-gradient(#1877f2, #1877f2, #000);
    background-image: linear-gradient(#1877f2, #1877f2, #000);
}

.main>.nav li:nth-child(2)>a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1DA1F2), color-stop(#1DA1F2), to(#000));
    background-image: -webkit-linear-gradient(#1DA1F2, #1DA1F2, #000);
    background-image: -moz-linear-gradient(#1DA1F2, #1DA1F2, #000);
    background-image: -o-linear-gradient(#1DA1F2, #1DA1F2, #000);
    background-image: linear-gradient(#1DA1F2, #1DA1F2, #000);
}

.main>.nav li:nth-child(3)>a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0077B5), color-stop(#0077B5), to(#000));
    background-image: -webkit-linear-gradient(#0077B5, #0077B5, #000);
    background-image: -moz-linear-gradient(#0077B5, #0077B5, #000);
    background-image: -o-linear-gradient(#0077B5, #0077B5, #000);
    background-image: linear-gradient(#0077B5, #0077B5, #000)
}

.main>.nav li:nth-child(4)>a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f00), color-stop(#f00), to(#000));
    background-image: -webkit-linear-gradient(#f00, #f00, #000);
    background-image: -moz-linear-gradient(#f00, #f00, #000);
    background-image: -o-linear-gradient(#f00, #f00, #000);
    background-image: linear-gradient(#f00, #f00, #000) ;
}

.main>.nav li:last-child>a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#25D366), color-stop(#25D366), to(#000));
    background-image: -webkit-linear-gradient(#25D366, #25D366, #000);
    background-image: -moz-linear-gradient(#25D366, #25D366, #000);
    background-image: -o-linear-gradient(#25D366, #25D366, #000);
    background-image: linear-gradient(#25D366, #25D366, #000) ;
}

.main>.nav li>a {
    text-decoration: none;
    display: block;
    line-height: 60px;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px #333;
    font-size: 32px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    -webkit-background-size: 60px 60px;
    -moz-background-size: 60px 60px;
    -o-background-size: 60px 60px;
    background-size: 60px 60px;
    background-position: 60px 60px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s ;
}

.main>.nav li:hover {
    -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5)) ;
}

.main>.nav li:hover>a {
    background-position: 0px 0px;
    -webkit-animation: sn .5s forwards 1 linear;
    -moz-animation: sn .5s forwards 1 linear;
    -o-animation: sn .5s forwards 1 linear;
    animation: sn .5s forwards 1 linear ;
}

.main::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: mb 5s forwards infinite linear;
    -moz-animation: mb 5s forwards infinite linear;
    -o-animation: mb 5s forwards infinite linear;
    animation: mb 5s forwards infinite linear;
    z-index: -10 ;
}

.main::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-animation: ma 5s forwards infinite linear;
    -moz-animation: ma 5s forwards infinite linear;
    -o-animation: ma 5s forwards infinite linear;
    animation: ma 5s forwards infinite linear;
    z-index: -20;
}

.main .pain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: blue ;
    background-attachment: absolute;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(0,0,0,0) ;
}

.main .pain>div {
    background: inherit;
    font-size: 3vw;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    z-index: 40;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.main .pain>div:first-child {
    -webkit-animation: bd1 5s forwards infinite linear;
    -moz-animation: bd1 5s forwards infinite linear;
    -o-animation: bd1 5s forwards infinite linear;
    animation: bd1 5s forwards infinite linear;
}

.main .pain>div:nth-child(2) {
    -webkit-animation: bd2 5s forwards infinite linear;
    -moz-animation: bd2 5s forwards infinite linear;
    -o-animation: bd2 5s forwards infinite linear;
    animation: bd2 5s forwards infinite linear;
}

.main .pain>div:nth-child(3) {
    -webkit-animation: bd3 5s forwards infinite linear;
    -moz-animation: bd3 5s forwards infinite linear;
    -o-animation: bd3 5s forwards infinite linear;
    animation: bd3 5s forwards infinite linear;
}

.main .pain>div:last-child {
    -webkit-animation: bd4 5s forwards infinite linear;
    -moz-animation: bd4 5s forwards infinite linear;
    -o-animation: bd4 5s forwards infinite linear;
    animation: bd4 5s forwards infinite linear ;
}

@-webkit-keyframes sn {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg) ;
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg) ;
    }
}

@-moz-keyframes sn {
    from {
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg) ;
    }

    to {
        -moz-transform: rotateY(360deg);
        transform: rotateY(360deg) ;
    }
}

@-o-keyframes sn {
    from {
        transform: rotateY(0deg) ;
    }

    to {
        transform: rotateY(360deg) ;
    }
}

@keyframes sn {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg) ;
    }

    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        transform: rotateY(360deg) ;
    }
}

@-webkit-keyframes mb {
    0% {
        background: rgba(221,221,221,.6);
        width: 100% ;
    }

    25% {
        background: rgba(221,221,221,.6);
        width: 0% ;
    }

    50% {
        background: rgba(204,204,204,.6);
        width: 100% ;
    }

    75% {
        background: rgba(204,204,204,.6);
        width: 0% ;
    }

    100% {
        background: rgba(221,221,221,.6);
        width: 100% ;
    }
}

@-moz-keyframes mb {
    0% {
        background: rgba(221,221,221,.6);
        width: 100% ;
    }

    25% {
        background: rgba(221,221,221,.6);
        width: 0% ;
    }

    50% {
        background: rgba(204,204,204,.6);
        width: 100% ;
    }

    75% {
        background: rgba(204,204,204,.6);
        width: 0% ;
    }

    100% {
        background: rgba(221,221,221,.6);
        width: 100% ;
    }
}

@-o-keyframes mb {
    0% {
        background: rgba(221,221,221,.6);
        width: 100% ;
    }

    25% {
        background: rgba(221,221,221,.6);
        width: 0% ;
    }

    50% {
        background: rgba(204,204,204,.6);
        width: 100% ;
    }

    75% {
        background: rgba(204,204,204,.6);
        width: 0%
    }

    100% {
        background: rgba(221,221,221,.6);
        width: 100%
    }
}

@keyframes mb {
    0% {
        background: rgba(221,221,221,.6);
        width: 100%
    }

    25% {
        background: rgba(221,221,221,.6);
        width: 0% ;
    }

    50% {
        background: rgba(204,204,204,.6);
        width: 100% ;
    } 

    75% {
        background: rgba(204,204,204,.6);
        width: 0%;
    }

    100% {
        background: rgba(221,221,221,.6);
        width: 100%;
    }
}

@-webkit-keyframes ma {
    0% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }

    25% {
        background: rgba(204,204,204,.6);
        width: 0%;
    }

    50% {
        background: rgba(221,221,221,.6);
        width: 100%;
    }

    75% {
        background: rgba(221,221,221,.6);
        width: 0%;
    }

    100% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }
}

@-moz-keyframes ma {
    0% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }

    25% {
        background: rgba(204,204,204,.6);
        width: 0%;
    }

    50% {
        background: rgba(221,221,221,.6);
        width: 100%;
    }

    75% {
        background: rgba(221,221,221,.6);
        width: 0%;
    }

    100% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }
}

@-o-keyframes ma {
    0% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }

    25% {
        background: rgba(204,204,204,.6);
        width: 0%;
    }

    50% {
        background: rgba(221,221,221,.6);
        width: 100%;
    }

    75% {
        background: rgba(221,221,221,.6);
        width: 0%;
    }

    100% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }
}

@keyframes ma {
    0% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }

    25% {
        background: rgba(204,204,204,.6);
        width: 0%;
    }

    50% {
        background: rgba(221,221,221,.6);
        width: 100%;
    }

    75% {
        background: rgba(221,221,221,.6);
        width: 0%;
    }

    100% {
        background: rgba(204,204,204,.6);
        width: 100%;
    }
}

@-webkit-keyframes bd1 {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }

    25% {
        left: 100%;
        top: 0%;
        -webkit-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
    }

    50% {
        left: 100%;
        top: 100%;
        -webkit-transform: translate(-100%, -100%);
        transform: translate(-100%, -100%);
    }

    75% {
        left: 0%;
        top: 100%;
        -webkit-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        left: 0%;
        top: 0%;
        -webkit-transform: translateX(0%, 0%);
        transform: translateX(0%, 0%)
    }
}

@-moz-keyframes bd1 {
    0% {
        left: 0;
        top: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 100%;
        top: 0%;
        -moz-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    50% {
        left: 100%;
        top: 100%;
        -moz-transform: translate(-100%, -100%);
        transform: translate(-100%, -100%)
    }

    75% {
        left: 0%;
        top: 100%;
        -moz-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        left: 0%;
        top: 0%;
        -moz-transform: translateX(0%, 0%);
        transform: translateX(0%, 0%)
    }
}

@-o-keyframes bd1 {
    0% {
        left: 0;
        top: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 100%;
        top: 0%;
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    50% {
        left: 100%;
        top: 100%;
        -o-transform: translate(-100%, -100%);
        transform: translate(-100%, -100%)
    }

    75% {
        left: 0%;
        top: 100%;
        -o-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        left: 0%;
        top: 0%;
        -o-transform: translateX(0%, 0%);
        transform: translateX(0%, 0%)
    }
}

@keyframes bd1 {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 100%;
        top: 0%;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    50% {
        left: 100%;
        top: 100%;
        -webkit-transform: translate(-100%, -100%);
        -moz-transform: translate(-100%, -100%);
        -o-transform: translate(-100%, -100%);
        transform: translate(-100%, -100%)
    }

    75% {
        left: 0%;
        top: 100%;
        -webkit-transform: translate(0%, -100%);
        -moz-transform: translate(0%, -100%);
        -o-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        left: 0%;
        top: 0%;
        -webkit-transform: translateX(0%, 0%);
        -moz-transform: translateX(0%, 0%);
        -o-transform: translateX(0%, 0%);
        transform: translateX(0%, 0%)
    }
}

@-webkit-keyframes bd2 {
    0% {
        right: 0%;
        top: 0%;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 0%;
        top: 100%;
        -webkit-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    50% {
        right: 100%;
        top: 100%;
        -webkit-transform: translate(100%, -100%);
        transform: translate(100%, -100%)
    }

    75% {
        right: 100%;
        top: 0%;
        -webkit-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    100% {
        right: 0;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-moz-keyframes bd2 {
    0% {
        right: 0%;
        top: 0%;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 0%;
        top: 100%;
        -moz-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    50% {
        right: 100%;
        top: 100%;
        -moz-transform: translate(100%, -100%);
        transform: translate(100%, -100%)
    }

    75% {
        right: 100%;
        top: 0%;
        -moz-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    100% {
        right: 0;
        top: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-o-keyframes bd2 {
    0% {
        right: 0%;
        top: 0%;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 0%;
        top: 100%;
        -o-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    50% {
        right: 100%;
        top: 100%;
        -o-transform: translate(100%, -100%);
        transform: translate(100%, -100%)
    }

    75% {
        right: 100%;
        top: 0%;
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    100% {
        right: 0;
        top: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@keyframes bd2 {
    0% {
        right: 0%;
        top: 0%;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 0%;
        top: 100%;
        -webkit-transform: translate(0%, -100%);
        -moz-transform: translate(0%, -100%);
        -o-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    50% {
        right: 100%;
        top: 100%;
        -webkit-transform: translate(100%, -100%);
        -moz-transform: translate(100%, -100%);
        -o-transform: translate(100%, -100%);
        transform: translate(100%, -100%)
    }

    75% {
        right: 100%;
        top: 0%;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    100% {
        right: 0;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-webkit-keyframes bd3 {
    0% {
        right: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    50% {
        right: 100%;
        bottom: 100%;
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%)
    }

    75% {
        right: 0%;
        bottom: 100%;
        -webkit-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    100% {
        right: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-moz-keyframes bd3 {
    0% {
        right: 0;
        bottom: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 100%;
        bottom: 0%;
        -moz-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    50% {
        right: 100%;
        bottom: 100%;
        -moz-transform: translate(100%, 100%);
        transform: translate(100%, 100%)
    }

    75% {
        right: 0%;
        bottom: 100%;
        -moz-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    100% {
        right: 0;
        bottom: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-o-keyframes bd3 {
    0% {
        right: 0;
        bottom: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 100%;
        bottom: 0%;
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    50% {
        right: 100%;
        bottom: 100%;
        -o-transform: translate(100%, 100%);
        transform: translate(100%, 100%)
    }

    75% {
        right: 0%;
        bottom: 100%;
        -o-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    100% {
        right: 0;
        bottom: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@keyframes bd3 {
    0% {
        right: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%)
    }

    50% {
        right: 100%;
        bottom: 100%;
        -webkit-transform: translate(100%, 100%);
        -moz-transform: translate(100%, 100%);
        -o-transform: translate(100%, 100%);
        transform: translate(100%, 100%)
    }

    75% {
        right: 0%;
        bottom: 100%;
        -webkit-transform: translate(0%, 100%);
        -moz-transform: translate(0%, 100%);
        -o-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    100% {
        right: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-webkit-keyframes bd4 {
    0% {
        left: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 0%;
        bottom: 100%;
        -webkit-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    50% {
        left: 100%;
        bottom: 100%;
        -webkit-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%)
    }

    75% {
        left: 100%;
        bottom: 0%;
        -webkit-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    100% {
        left: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-moz-keyframes bd4 {
    0% {
        left: 0;
        bottom: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 0%;
        bottom: 100%;
        -moz-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    50% {
        left: 100%;
        bottom: 100%;
        -moz-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%)
    }

    75% {
        left: 100%;
        bottom: 0%;
        -moz-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    100% {
        left: 0;
        bottom: 0;
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@-o-keyframes bd4 {
    0% {
        left: 0;
        bottom: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 0%;
        bottom: 100%;
        -o-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    50% {
        left: 100%;
        bottom: 100%;
        -o-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%)
    }

    75% {
        left: 100%;
        bottom: 0%;
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    100% {
        left: 0;
        bottom: 0;
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}

@keyframes bd4 {
    0% {
        left: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    25% {
        left: 0%;
        bottom: 100%;
        -webkit-transform: translate(0%, 100%);
        -moz-transform: translate(0%, 100%);
        -o-transform: translate(0%, 100%);
        transform: translate(0%, 100%)
    }

    50% {
        left: 100%;
        bottom: 100%;
        -webkit-transform: translate(-100%, 100%);
        -moz-transform: translate(-100%, 100%);
        -o-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%)
    }

    75% {
        left: 100%;
        bottom: 0%;
        -webkit-transform: translate(-100%, 0%);
        -moz-transform: translate(-100%, 0%);
        -o-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%)
    }

    100% {
        left: 0;
        bottom: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}


