.un {
    font-size: 67px;
    letter-spacing: 6px;
    font-variant: small-caps;
    font-family: Arial;
    -webkit-text-stroke: 3px rgb(28, 240, 74);
    color: white;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(10, 10, 10);
    font-style: italic;
    padding: 20px;
    width: max-content;
    margin: auto;
    border: 6px solid rgb(9, 226, 74);
    outline: 5px dashed rgb(9, 226, 74);
    border-radius: 9px;
    margin-top: 6px;
    box-shadow: 0 0 18px black , 0 0 18px black inset;
}